/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1,h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, form, label, /*legend*/
caption,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 /*HTML5 display-role reset for older browsers*/ 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

body{
    background-color:grey;
    font-family: Georgia;
}

/*h1-h6?*/
h1 {
    font-weight:bold;
    font-size:30pt;
}

h2 {
    font-weight:bold;
    font-size:25pt;
    margin: 10px 0;
}

h3 {
    font-weight:bold;
    font-size:20pt;
    margin: 15px 0 10px 0;
    padding: 0 0 0 30px;
    border-bottom: 1px black solid;
    background: url("pics/omc-logga-mini.png") top left no-repeat;
}

h4 {
    font-weight:bold;
    font-size:17pt;
    margin: 10px 0;
}

h5 {
    font-weight: bold;
    margin: 10px 0;
}

/*listor*/

#content ol{
    padding-left:30px;
}

ul, ol, li, dl, dd, dt {
    margin-top:5px;
    padding: 0;
    font-style: normal;
}

ul li a, ol li a {
    font-weight: normal;
}

ul li ul, ul li {
    margin-left: 15px;
}

dl dt, ul li {
    font-weight: bold;
    font-family:Arial;
}

ul li ul li, dl dd{
    font-weight: normal;
    font-family:Arial;
    font-size: medium;
}

p {
    margin:10px 0;
    font-size: large;
    position: relative;
}

.left {
    position:relative;
    margin: 10px;
    float: left;
}

.right {
    margin: 10px;
    float: right;
}

a {
    color: #0000cc; 
    text-decoration: underline;
}

a:link { 
    color: #0000cc; 
    text-decoration: underline;
} 

a:visited { 
    color: #0000cc; 
    text-decoration: underline;
}

a:link:after, a:visited:after { 
	content: " (" attr(href) ") "; 
	font-size: 90%; 
}

/*tabell1*/

table {
    background:#39AECF;
    color:#216477;
}

th, td {
    background:#FF8100;
    border: #FFBA73 3px solid;
}

thead, tbody, tfoot {
    background: #FF8100;
    padding: 5px;
}

/*FÄRGSCHEMA på colorschemedesigner.com/#1821Tw0w0w0w0*/

/*DIVar*/

#container{
    padding: 5px;
    margin: auto;
    width: 1000px;
    background-color:#39AECF;
    overflow:auto;
}

#mainHeader {
    color:#216477;
    border: solid 5px #FFBA73;
    height: 50px;
    padding: 15px 0 0 15px;
    background-color: #FF8100;
}

#headerimg {
     margin: -15px 5px 0 -10px;
     borde: solid 1px black;
     width: 80px;
     height: 60px;
     float: left;
     background:url("pics/omc-logga-xs.png")  top left no-repeat
}

nav li {
    padding: 0;
    margin: 7px 5px;
    list-style:none;
    font-weight: normal;
    font-family:none;
}

nav a:link{
    font-style: normal;
    padding: 0 5px;
    color:#216477;
    display:block;
    background-color:#FF8100;
}

nav a:visited {
    color:#216477;
}

nav a:hover{
    background-color:#216477;
    display:block;
    color:#FF8100;
}

nav {
    display: none;
    background-color:#FFBA73;
    position: relative;
    float: left;
    width: 125px;
    height: 115px;
    margin-top: 10px;
}

.active {
    font-weight: bold;
    text-align: right;
}

#content {
    background-color:white;
    position: relative;
    float:left;
    margin-top: 10px;
    margin-left: 5px;
    padding: 15px 20px 15px 20px;
    min-height: 600px;
    margin-bottom: 10px;
    width:700px;
}

/*FORMULÄR*/

legend {
    padding: 0.2em 0.5em;
    border:1px solid green;
    background:#FF8100;
    border: solid 5px #FFBA73;
    color:#216477; 
    font-size:90%;
    text-align:right;
}

fieldset {
    margin: 5px;
    width:25%;
    background:#FF8100;
    border: solid 5px #FFBA73;
    color:#216477; 
}

.sign {
    text-align:right;
    font-style: italic;
    font-family: Comic sans ms;
    font-size: small;
    clear: both;
}

footer {
    color:#216477;
    background-color:#FF8100;
    border: solid 5px #FFBA73;
    height: 50px;
    padding-top: 15px;
    font-weight:bold;
    text-align: center;
    clear:left;
}

.vcard {
    display: none;
}


