/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1,h2, h3, h4, h5, h6, p, blockquote, pre,
/*a*/ abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
/*dl, dt, dd, ol, ul, li,*/
/*fieldset*/ form, label, /*legend*/
caption,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 /*HTML5 display-role reset for older browsers*/ 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/*body {
	line-height: 1;
}*/

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collaps: collapse;
	border-spacig: 0;
}

body{
    background-color:grey;
}

/*h1-h6?*/
h1 {
    font-weight:bold;
    font-size:30px;
}

h2 {
    font-weight:bold;
    font-size:25px;
    margin: 10px 0;
}

h3 {
    font-weight:bold;
    font-size:20px;
    margin: 10px 0;
}

h4 {
    font-weight:bold;
    font-size:17px;
    margin: 10px 0;
}

/*listor*/

ul, ol, li, dl, dd, dt {
    margin-top:5px;
    padding: 5px;
}

ul li ul, ul li {
    margin-left: 20px;
}


p {
    margin:10px 0 0 0;
}


/*DIVar*/

#container{
    padding: 5px;
    margin: auto;
    width: 1000px;
    background-color:#39AECF;
    overflow:auto;
}

/*FÄRGSCHEMA på colorschemedesigner.com/#1821Tw0w0w0w0*/

#header {
    color:#216477;
    background-color:#FF8100;
    border: solid 5px #FFBA73;
    height: 50px;
    padding: 15px 0 0 20px;
    
}

#navigation li {
    padding: 0;
    margin: 0 0 5px 0;
    list-style:none;
}

#navigation a:link{
    color:#216477;
    display:block;
    background-color:#FF8100;
}

#navigation a:visited {
    color:#216477;
}

#navigation a:hover{
    background-color:#216477;
    display:block;
    color:#FF8100;
}


#navigation {
    background-color:#FFBA73;
    position: relative;
    float: left;
    width: 150px;
    height: 115px;
    margin-top: 10px;
}

.active {
    font-weight: bold;
    text-align: right;
}

#content ol{
    padding-left:30px;
}
#content {
    background-color:white;
    position: relative;
    float:left;
    margin-top: 10px;
    margin-left: 5px;
    padding: 15px 20px 15px 20px;
    min-height: 600px;
    margin-bottom: 10px;
    width:700px;
}

#footer {
    color:#216477;
    background-color:#FF8100;
    border: solid 5px #FFBA73;
    height: 50px;
    padding: 15px;
    font-weight:bold;
    text-align: center;
    clear:left;
}


