/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1,h2, h3, h4, h5, h6, p, blockquote, pre,
/*a*/ abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
/*dl, dt, dd, ol, ul, li,*/
/*fieldset*/ form, label, /*legend*/
caption,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 /*HTML5 display-role reset for older browsers*/ 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

html {
    overflow-y: scroll;
}
body{
    background-color: grey;
}

/*h1-h6?*/
h1 {
    font-weight:bold;
    font-size:30px;
}

h2 {
    font-weight:bold;
    font-size:25px;
    margin: 10px 0;
}

h3 {
    font-weight:bold;
    font-size:20px;
    margin: 15px 0 10px 0;
    padding: 0 0 0 30px;
    border-bottom: 1px black solid;
    background: url("pics/omc-logga-mini.png") top left no-repeat;
}

h4 {
    font-weight:bold;
    font-size:17px;
    margin: 10px 0;
}

h5 {
    font-weight: bold;
    margin: 10px 0;
}

/*listor*/

ul, ol, li, dl, dd, dt {
    margin-top:5px;
    padding: 0;
    font-style: normal;
}

ul li a, ol li a {
    font-weight: normal;
}

ul li ul, ul li {
    margin-left: 15px;
}

dl dt, ul li {
    font-weight: bold;
    font-family:Arial;
}

ul li ul li, dl dd{
    font-weight: normal;
    font-family:Arial;
    font-size: medium;
}

p {
    margin:10px 0;
    font-size: large;
    position: relative;
}

.left {
    position:relative;
    margin: 10px;
    float: left;
}

.right {
    margin: 10px;
    float: right;
}

a {
    font-style: italic;
}


/*tabell1*/

table {
    background:#39AECF;
    color:#216477;
}

th, td {
    background:#FF8100;
    border: #FFBA73 3px solid;
}

thead, tbody, tfoot {
    background: #FF8100;
    padding: 5px;
}


/*DIVar*/

#container{
    padding: 5px;
    margin: auto;
    max-width: 1000px;
    width: 100%;
    background-color:#39AECF;
    overflow:auto;
}

/*FÄRGSCHEMA på colorschemedesigner.com/#1821Tw0w0w0w0*/



#mainHeader {
    color:#216477;
    border: solid 5px #FFBA73;
    height: 50px;
    padding: 15px 0 0 15px;
    background-color: #FF8100;
}

#headerimg {
     margin: -18px 5px 0 -10px;
     width: 80px;
     height: 60px;
     float: left;
     background:url("pics/omc-logga-xs.png")  top left no-repeat;
}

nav {
    background-color:#FFBA73;
    float: left;
    width: 145px;
    height: 195px;
    margin-top: 10px;
}

nav li {
    margin: 5px 5px;
    list-style:none;
    font-weight: normal;
    font-family:none;
}

nav a:link{
    height: 35px;
    font-style: normal;
    padding: 7px 5px 0 28px;
    color:#216477;
    display:block;
    background-color:#FF8100;
}

nav a:visited {
    color:#216477;
}

nav a:hover{
    background-color:#216477;
    display:block;
    color:#FF8100;
}

 /*Sprites*/
 
nav .index {
    background-image: url("pics/sprite.png");
    background-repeat: no-repeat;
    background-position: 3px -46px;
}
nav li a:hover.index {
    background-image: url("pics/sprite.png");
    background-repeat: no-repeat;
    background-position: 3px 2px;
}

nav li a.labb {
    background-image: url("pics/sprite.png");
    background-repeat: no-repeat;
    background-position: 3px -140px;
}
nav li a:hover.labb {
    background-image: url("pics/sprite.png");
    background-repeat: no-repeat;
    background-position: 3px -92px;
}

nav li a.kontakt {
    background-image: url("pics/sprite.png");
    background-repeat: no-repeat;
    background-position: 3px -332px;
}
nav li a:hover.kontakt {
    background-image: url("pics/sprite.png");
    background-repeat: no-repeat;
    background-position: 3px -284px;
}

nav li a.press {
    background-image: url("pics/sprite.png");
    background-repeat: no-repeat;
    background-position: 3px -236px;
}
nav li a:hover.press {
    background-image: url("pics/sprite.png");
    background-repeat: no-repeat;
    background-position: 3px -188px;
}

.active {
    font-weight: bold;
    text-align: right;
}

main ol{
    padding-left:30px;
}
main {
    background-color:white;
    float:left;
    margin-top: 10px;
    margin-left: 5px;
    padding: 15px 15px;
    min-height: 600px;
    margin-bottom: 10px;
    width:700px;
}

/*FORMULÄR*/

legend {
    padding: 0.2em 0.5em;
    background:#FF8100;
    border: solid 5px #FFBA73;
    color:#216477; 
    font-size:90%;
    text-align:right;
}

fieldset {
    margin: 5px;
    width:25%;
    background:#FF8100;
    border: solid 5px #FFBA73;
    color:#216477; 
}

.sign {
    color: black;
    background-color: white;
    border: none;
    height: auto;
    padding-top: 0;
    text-align:right;
    font-style: italic;
    font-family: Comic sans ms;
    font-size: small;
    clear: both;
    font-weight: normal;
}

aside {
    border: 3px solid #39AECF;
    width: 40%;
    margin: 10px;
    padding: 10px;
    clear: both;
    color:#216477;
    background-color:#FF8100;
}

footer {
    color:#216477;
    background-color:#FF8100;
    border: solid 5px #FFBA73;
    height: 50px;
    padding-top: 15px;
    font-weight:bold;
    text-align: center;
    clear:left;
}



@media only screen and (max-width : 481px) {
#container {
    padding: 3px 0 0 3px;
    width: 100%;
}

#mainHeader {
    padding: 10px 8px;
    text-align: center;
    height: 60%;
    width: 91.5%;
}

#headerimg {
    display: none;
}

nav a {
    width: 90%;
}

nav {
    margin: 5px 0;
    width:98.5%;
    clear: both;
    max-width: 480px;
}

main {
    margin: 3px;
    clear: left;
    width: 89%;
}

img, video {
    max-width: 100%;
}


fieldset {
    margin: 5px 0;
    max-width:300px;
    width: 40%;
}


footer {
    margin-bottom: 5px;
    padding: 8px;
    width: 91.5%;
}


}


